*.pyc
build/
doc/build/
doc/_script2rst/
doc/sphinx/_build
doc/rst/concept.rst
doc/rst/getting_started.rst
doc/rst/parameters.rst
doc/rst/data_management.rst
*~
dist/
doc/_img/*.png
tutorial/*.png
ghostdriver*
.idea/
.cache/
.vscode/
*.so
*.a
/.cproject
/.project
/.pydevproject
/.settings/
/dumps/
/.coverage
/env
*.egg-info
.DS_Store
.ipynb_checkpoints
.clang-format
