sudo: False
language: python
python:
  - "2.7"
git:
  submodules: false

before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh; # grab miniconda
  - bash miniconda.sh -b -p $HOME/miniconda # install miniconda
  - export PATH="$HOME/miniconda/bin:$PATH" # add it to the path
  - conda config --set always_yes yes --set changeps1 no # we want it to always do yes, and start a new console
  - conda update -q conda # update this quietly
  - conda install pyyaml
  - conda info -a # and print the info
  - conda install pyyaml

install:
  - conda env create --file environment.yml #set up the environment thats in the file
  - source activate test-environment # activate it
  - python setup.py install # install ptypy

script:
  - py.test ptypy/test -v --cov ptypy --cov-report term-missing # now run the tests

after_script:
  - coveralls
