name: ptypy automated test workflow

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - pycuda
  # Also trigger on page_build, as well as release created events
  page_build:
  release:
    types: # This configuration does not affect the page_build event above
      - created

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env update --file ptypy_full_dependencies.yml --name base
    - name: Prepare ptypy
      run: |
        # Dry install to create ptypy/version.py
        python setup.py install -n
#    - name: Lint with flake8
#      run: |
#        conda install flake8
#        # stop the build if there are Python syntax errors or undefined names
#        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        conda install pytest
        conda install pytest-cov
        pytest ptypy/test --doctest-modules --junitxml=junit/test-results.xml --cov=ptypy --cov-report=xml --cov-report=html --cov-config=.coveragerc
    - name: cobertura-report
      uses: 5monkeys/cobertura-action@v7
      with:
        # The GITHUB_TOKEN for this repo
        repo_token:  ${{ secrets.GITHUB_TOKEN }}
        # Path to the cobertura file.
        path: coverage.xml
        # If files with 100% should be skipped from report.
        skip_covered: true
        # Minimum allowed coverage percentage as an integer.
        minimum_coverage: 70
    - name: Junit Report to Annotations
      uses: ashley-taylor/junit-report-annotations-action@master
      with:
        # github token
        access-token: ${{ secrets.GITHUB_TOKEN }}
        # glob to junit xml files
        path: junit/test-results.xml
        # include summary annotation
        includeSummary: true
        # max number of failed tests to include
        numFailures: 10
